/* Root theme */
:root {
  --rp-base: #191724;
  --rp-surface: #1f1d2e;
  --rp-overlay: #26233a;

  --rp-muted: #6e6a86;
  --rp-subtle: #908caa;
  --rp-text: #e0def4;

  --rp-love: #eb6f92;
  --rp-gold: #f6c177;
  --rp-rose: #ebbcba;
  --rp-pine: #31748f;
  --rp-foam: #9ccfd8;
  --rp-iris: #c4a7e7;
  --radius: 14px;
  --transition: 0.25s ease;

  --color-primary: var(--rp-iris);
  --color-secondary: var(--rp-foam);
}

@font-face {
  font-family: "0xProto Nerd Font";
  src: url("/0xProtoNerdFont-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Base */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  color: var(--rp-text);

  font-family: "0xProto Nerd Font", monospace;
  display: flex;
  justify-content: center;

  overflow: hidden;

  background-color: var(--rp-base);
}

/* App div */
#app {
  width: 100%;
  max-width: 500px;
  min-height: 100%;

  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;

  padding: 8px 32px;
}

/* Button */
button {
  padding: 8px 16px;
  font-size: 14px;
  font-family: inherit;

  background: color-mix(in srgb, var(--color-primary) 10%, transparent);
  color: var(--color-primary);

  border: 1px solid color-mix(in srgb, var(--color-primary) 25%, transparent);

  border-radius: var(--radius);

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
