/* Root theme */
:root {
  --rp-base: #191724;
  --rp-surface: #1f1d2e;
  --rp-overlay: #26233a;

  --rp-muted: #6e6a86;
  --rp-subtle: #908caa;
  --rp-text: #e0def4;

  --rp-love: #eb6f92;
  --rp-gold: #f6c177;
  --rp-rose: #ebbcba;
  --rp-pine: #31748f;
  --rp-foam: #9ccfd8;
  --rp-iris: #c4a7e7;

  --radius: 14px;
  --transition: 0.25s ease;

  --color-primary: var(--rp-iris);
  --color-secondary: var(--rp-foam);
}

@font-face {
  font-family: "0xProto Nerd Font";
  src: url("/0xProtoNerdFont-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Base */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  background: var(--rp-base);
  color: var(--rp-text);

  font-family: "0xProto Nerd Font", monospace;
  display: flex;
  justify-content: center;
}

/* App div */
#app {
  width: 100%;
  max-width: 500px;
  /* limite mobile */
  min-height: 100%;

  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Button */
button {
  padding: 8px 16px;
  font-size: 14px;
  font-family: inherit;

  background: color-mix(in srgb, var(--color-primary) 10%, transparent);
  color: var(--color-primary);

  border: 1px solid color-mix(in srgb, var(--color-primary) 25%, transparent);

  border-radius: var(--radius);

  cursor: pointer;
  transition:
    background var(--transition),
    border-color var(--transition),
    opacity var(--transition);

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Button:Hover */
button:hover {
  background: color-mix(in srgb, var(--color-primary) 20%, transparent);
  border-color: color-mix(in srgb, var(--color-primary) 40%, transparent);
  opacity: 0.95;
}

/* Button:Pressed */
button:active {
  background: color-mix(in srgb, var(--color-primary) 30%, transparent);
  border-color: var(--color-primary);
  opacity: 0.9;
}

/* Anchor */
a {
  text-decoration: underline;
  text-underline-offset: 2px;

  font-size: 0.85rem;
  font-family: inherit;

  color: var(--rp-subtle);
  text-transform: lowercase;
  cursor: pointer;

  transition:
    color var(--transition),
    opacity var(--transition);
}

/* Anchor:Hover  */
a:hover {
  color: var(--rp-text);
  opacity: 0.9;
}

/* Anchor:Active */
a:active {
  color: var(--color-primary);
  opacity: 1;
}
